h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin: 12px;
    padding: 15px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #004D85;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    margin: 0 24px 0 24px;
}

/* For the header inside the calendar */
h2.f4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.repo-box {
    border-radius: 5px;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4px 0 4px 0;
}

.repo-frame {
    margin: 8px 12px 8px 12px;
}

.repo-box:hover {
    box-shadow: 0px 0px 4px #CCC;
}

h2.repo-title {
    font-size: 24px;
    font-weight: normal;
    margin: 2px;
}

.repo-tag-box {
    color: #777;
    margin: 2px;
}

img.repo-tag {
    margin-right: 8px;
}

.repo-desc {
    font-size: 14px;
    color: #333;
    margin: 2px;
}
